**/*.terraform.lock.hcl
**/*terraform.tfstate*
**/*.terraform/
**/*.tfplan
oci/opnvpnas/*tfvars
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
